.main .title{        
  background:#41a8ee;
  position:relative;
  color: #fff;
  line-height:60px;
  box-sizing:border-box;
  font-size:26px;
  text-align: center;
  letter-spacing: 6px;
}
.main{
  background:url(../../src/assets/bg.jpg);
  height:100%;
  position:relative;
  background-size: 100%;
}
.main>.box{
  position:absolute;
  margin:auto;
  top:0;
  bottom:200px;
  left:0;
  right:0;
  width:450px;
  height:300px;
  background:#fff;
  border-radius:5px;
  border:#41a8ee 1px solid;
}
.box>.icon{
  height:30px;
}
.box>.icon>span{
  display:inline-block;
  width:10px;
  height:10px;
  margin:10px 0px 10px 10px;
  border-radius:50%;
  background:#FE9A38;
}
.box>.icon>span:last-child{
  background:#F60C0B;
}
.box>.icon>span:first-child{
  background:#24BC11;
}
.box>.input_box ul{
  margin-top:5%;
}
.box>.input_box li>span{
  font-size:18px;
  line-height:60px;
  margin-left:20%;
  color: #384653;
  font-family: "微软雅黑";
}
.box>.input_box li>input{
  height:35px;
  background:#f5f5f5;
  padding-left:10px;
  padding-right:10px;
  border:1px solid #e5e5e5;
  font-size:16px;
}
.box>.input_box ul>a{
  background:#41a8ee;
  display:block;
  width:30%;
  height:40px;
  line-height:40px;
  text-align:center;
  margin:30px auto;
  border-radius:5px;
  font-size:16px;
  color:#fff;
  cursor:pointer;
  user-select:none;
}